@font-face {
   font-family: 'OpenSans-VariableFont_wdth,wght';
   font-display: swap;
   src: url('file:///Volumes/Data_drive/Webdesign/underbridge-pro-doc/fonts/OpenSans-VariableFont_wdth,wght/font.ttf');
}
