@font-face {
   font-family: 'OpenSans-Regular';
   font-display: swap;
   src: url('file:///run/media/bklronin/Seagate%20Backup%20Plus%20Drive/WEB/underbridge-pro-doc/fonts/OpenSans-Regular/font.ttf');
}
